@model IEnumerable<AjaxExample.Models.Calisan>
@{
    ViewBag.Title = "EmployeeInfo";
}
<div class="container">
    <h4 style="text-align:center; border-bottom:1px solid #808080">Calisan Bilgisi</h4>
    @foreach (var item in Model)
    {
        <p><label>Name: </label>@item.isim</p>
        <p><label>Email: </label>@item.email</p>
        <p><label>Telefon: </label>@item.telefon</p>
        <p><label>Tecrube: </label>@item.tecrube</p>
    }
</div>
